html {
    height: 100%;
    padding: 5%;
}

h2 {
    font-size: large;
    font-weight: lighter;
    color: aliceblue;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#0f1828, #243b55);
}

p {
    padding-left: 5%;
}

a, a:link, a:visited {
    font-size: 16px;
    overflow: hidden;
    color: bisque;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#buttons {
    padding-left: 0;
    margin-top: 40px;
}



p:nth-child(2n) {
    color: #c8a1fa;
}

p:nth-child(2n + 1) {
    color:aqua;
}