<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" type="text/css" href="../static/genre.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>RecGen</title>
    </head>
    <body>
        <div class="login-box">
            <form action="/handle_form" method="POST" id="mainForm">

                <div class="user-box">

                    <h2>Please choose a genre below:</h2>
                    <form action="/action_page.php" id="menu">
                        <label >
                            <input id="rad1" type="radio" id="adventure" name="genre" value="Adventure">
                            <span for="rad1">Adventure</span>
                        </label>
                        <label>
                            <input id="rad2" type="radio" id="strategy" name="genre" value="Strategy">
                            <span for="rad2">Strategy</span>
                        </label>
                        <label>
                            <input id="rad3" type="radio" id="simulator" name="genre" value="Simulator">
                            <span for="rad3">Simulator</span>
                        </label>
                        <label>
                            <input id="rad4" type="radio" id="racing" name="genre" value="Racing">
                            <span for="rad4">Racing</span>
                        </label>
                        <label>
                            <input id="rad5" type="radio" id="arcade" name="genre" value="Arcade">
                            <span for="rad5">Arcade</span>
                        </label>
                        <label>
                            <input type="radio" id="indie" name="genre" value="Indie">
                            <span>Indie</span>
                        </label>
                    </form>  
                </div>
                <a href="#" onclick="document.getElementById('mainForm').submit()" id="graphics">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <p>Next</p>
                </a>
            </form>
        </div>
    </body>
    <footer>
        <a href="{{url_for('index')}}">
            <img src = "../static/logo.png" alt="Logo of RecGen">
        </a>
    </footer>
</html>

