<!-- Handles the main landing page to give 4 options to the user. -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" type="text/css" href="../static/index.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>RecGen</title>
    </head>
    <body>
        <div class="login-box">
            <form action="/handle_form" method="POST" id="mainForm">

                <div class="user-box">

                    <h2>Please choose a category below:</h2>
                    <form action="/action_page.php" id="menu">
                        <label class="buttons">
                            <a href="{{url_for('genreMenu')}}">Genre</a>
                        </label>
                        <label class="buttons">
                            <a href="{{url_for('platformMenu')}}">Platform</a>
                        </label>
                        <label class="buttons">
                            <a href="{{url_for('franchiseMenu')}}">Franchise</a>
                        </label>
                        <label class="buttons">
                            <a href="{{url_for('ratingMenu')}}">Age Rating</a>
                        </label>
                    </form>  
                </div>
            </form>
        </div>
    </body>
    <footer>

    </footer>
</html>
    
    