<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" type="text/css" href="../static/genre.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>RecGen</title>
    </head>
    <body>
        <div class="login-box">
            <form action="/handle_form" method="POST" id="mainForm">

                <div class="user-box">

                    <h2>Please choose a genre below:</h2>
                    <form action="/action_page.php" id="menu">
                        <label >
                            <input id="rad1" type="radio" id="adventure" name="rating" value="8">
                            <span for="rad1">8</span>
                        </label>
                        <label>
                            <input id="rad2" type="radio" id="strategy" name="rating" value="9">
                            <span for="rad2">9</span>
                        </label>
                        <label>
                            <input id="rad3" type="radio" id="simulator" name="rating" value="10">
                            <span for="rad3">10</span>
                        </label>
                        <label>
                            <input id="rad4" type="radio" id="racing" name="rating" value="13">
                            <span for="rad4">13</span>
                        </label>
                        <label>
                            <input id="rad5" type="radio" id="arcade" name="rating" value="20">
                            <span for="rad5">20</span>
                        </label>
                    </form>  
                </div>
                <a href="#" onclick="document.getElementById('mainForm').submit()" id="graphics">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <p>Next</p>
                </a>
            </form>
        </div>
    </body>
    <footer>

    </footer>
</html>

